extends layout

block content

	div(id="add", class="center_container")
		a(href="/add")
			button Aggiungi foto

	div(id="gallery")
		
		if photos_container.length == 0

			p(class="center_container") Nessun risultato, carica una panoramica PhotoSphere e riprova.
	

		for photos in photos_container

			div(id="small_container", class="center_container")

				for photo in photos

					a(href="/viewer="+photo.id)
						img(src="#{photo.thumbnail}", alt="#{photo.titolo}",class="thumbnail")