extends layout

block content

	div(id="add", class="center_container")
		a(href="/add")
			button Aggiungi foto

	div(id="gallery")
		
		for photo in photos

			a(href="/viewer="+photo.id)
				img(src="#{photo.thumbnail}", alt="#{photo.titolo}",class="thumbnail")
