doctype 5
html
	head
		title= title

		link(rel='stylesheet', href='/stylesheets/style.css')
		block stylesheets

		block scripts

	body
		a(href="/")
			div(id="header", class="center_container")
				div
					p(class="title") Photo Sphere Viewer

		block content